body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content-container {
  margin-top: 20px;
}

button {
  height: 34px;
  width: 120px;
  font-size: 14pt;
  background-color: #0291cd;
  color: white;
  margin: 20px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
  width: 95vw;
}

.table-upload td {
  text-align: right;
  padding: 10px;
}

.table-upload input {
  height: 20px;
  font-size: 12pt;
  width: 50%;
}

.list-images {
  margin-top: 20px;
}

.table-upload,
.table-upload th,
.table-upload td {
  border: none;
}

table,
th,
td {
  border: 1px solid black;
}

.content-container img {
  margin-top: 5px;
  max-height: 200px;
}

.list-images img {
  height: 150px;
  width: 150px;
}